@import url(http://fonts.googleapis.com/css?family=Denk+One);
form {
        font-family: 'Denk One', sans-serif;
        font-size: 35px;
      	}
body {
    background-image: url("http://eval.korat3.go.th/images/1246928860.jpg");
}

