<!DOCTYPE html>
<html>	
   <head>
      <title>Cooking_Diary</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="/static/base.css" rel="stylesheet" media="screen">
   </head>
    <body>
	<form method="POST">
		<b><font size="5"> Restaurant name : </font></b> <input name="restaurant_names" id="restaurant_name" style="width: 300px; 
		height: 35px; font-size:20px;"placeholder="Please fill  in restaurant name"/><br/>
		{% csrf_token %}
		<b><font size="5"> Food name : </font></b> <input name="food_names" id="food_name" style="width: 250px; 
		height: 35px; font-size:20px;"placeholder="Please fill  in food name"/>
		{% csrf_token %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<b><font size="5">Foods for energy : </font></b>
		<input name="calories" id="calorie" placeholder="Energy" style="width: 150px; 
		height: 35px; font-size:20px;"/> kCal.<br/>
		{% csrf_token %}
		<b><font size="5">Comments food</font></b></br>
		<textarea name="comments" id="comment" placeholder="Please fill in Comments" style="width: 500px; height: 300px;"></textarea><br/>
		{% csrf_token %}
		<div id="local_time" >&nbsp;</div>
		<input type="image" src="http://sunrisestudentloanservices.com/wp-content/uploads/2013/10/submit-button-png-hi.png" alt="Submit" width="150" height="80">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="image" src="http://www.clker.com/cliparts/L/9/T/w/P/4/public-cart-button-03-hi.png" alt="Exit" width="150" height="80">
	</form>
	<table id="id_food_table">
   		{% for food in foods %}
		<tr><td>{{ food.restaurant }}</td></tr>
       		<tr><td>{{ food.foodname }}</td>
		<td>{{ food.calorie }}</td></tr>
		<tr><td>{{ food.commentfood }}</td></tr>
    		{% endfor %}
	</table>

<script language="JavaScript1.2">
		function local_date(now_time) {
    			current_local_time = new Date();
    			local_time.innerHTML = current_local_time.getDate() + "/" + (current_local_time.getMonth()+1) + "/" +
			(current_local_time.getYear()+1900) + " " + current_local_time.getHours() + ":" + 
			current_local_time.getMinutes() + ":"+current_local_time.getSeconds();
   	 		setTimeout("local_date()",1000);
		}
 
		setTimeout("local_date()",1000);
	</script>
    <body>
</html>
